body {
	background-color: #EBECF0;
}

.login-container {
	padding: 2%;
	margin: 0 auto;
}

.neumorphic-bg {
	border-radius: 20px;
	padding: 20px;
	box-shadow: 3px 3px 5px #BABECC, -5px -5px 10px #FFF;
	transition: box-shadow 0.3s ease-in-out;
}

input {
	background-color: transparent;
	font-size: 18px;
	letter-spacing: 0.1em;
	color: #61677C;
	text-shadow: 1px 1px 0 #FFF;
	outline: none;
	border: none;
	border-radius: 30px;
	box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
	transition: all 0.2s ease-in-out;
}

.btn-success,
.btn-primary {
	background-color: transparent;
	color: rgb(40, 157, 156);
	width: 20%;
	border-radius: 25px;
	box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}

.btn-success:hover,
.btn-primary:hover {
	box-shadow: none;
}