.form-div {
	padding: 2%;
	border-radius: 20px;
	box-shadow: 3px 3px 5px #babecc, -5px -5px 10px #fff;
	transition: box-shadow 0.3s ease-in-out;
}

.profile-pic {
	height: 200px;
	max-width: 300px;
	margin: 0 auto;
	border-radius: 150px;
	overflow: hidden;
	box-shadow: 5px 5px 10px #4e4e4e, -5px -5px 10px #ffffff;
}

.change-pic-btn {
	text-align: center;
}

.changeBtn {
	padding: 2%;
	border-radius: 25px;
	border: 1px solid transparent;
	box-shadow: inset 3px 3px 5px #babecc, inset -5px -5px 10px #fff;
}

.changeBtn:hover {
	cursor: pointer;
	border: 1px solid teal;
	color: teal;
	box-shadow: 3px 3px 5px #babecc, -5px -5px 10px #fff;
}

body {
	background-color: #ebecf0;
}

.form-control {
	background-color: transparent;
	border-radius: 20px;
	box-shadow: 3px 3px 5px #babecc, -5px -5px 10px #fff;
}

.form-control:focus {
	background-color: transparent;
	border: none;
	box-shadow: inset 3px 3px 5px #babecc, inset -5px -5px 10px #fff;
}